body {
  background-color: #fafafa;
  color: #171717;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  color: #171717;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #404040;
}
a:hover {
  border-bottom: 2px solid #404040;
}
hr {
  border: 0rem;
  border-top: 0.1rem solid #d4d4d4;
  margin-top: 2rem;
}

.katex {
  font-size: 1.05em !important;
}
