:root {
  --background-color: #fff;
  --text-color-primary: #404040;
  --text-color-secondary: #737373;
  --link-bottom-border: #737373;
  --hr-color: #e5e5e5;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  .container {
    width: 600px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 800px;
  }
}

a {
  color: var(--text-color-primary);
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid var(--link-bottom-border);
}
a:hover {
  font-weight: 600;
  border-bottom: 2px solid var(--link-bottom-border);
}
hr {
  border: 0rem;
  border-top: 0.1rem solid var(--hr-color);
  margin-top: 2rem;
}
blockquote {
  font-style: italic;
  color: var(--text-color-secondary);
  border-left-width: 0.25rem;
  border-left-style: solid;
  border-left-color: #e5e5e5;
  padding-left: 1rem;
  max-width: 95%;
  display: block;
  margin: auto;
}
code {
  font-size: 1.1em;
}

table {
  max-width: 95%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
}
thead {
  border-bottom: 1px solid #737373;
}
tr,
th,
td {
  padding: 0.25em 1em;
}
tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
tbody tr:hover {
  background: #e5e5e5;
}

.katex {
  font-size: 1.05em !important;
}
